<h3>
  <%= "Welcome #{@user.first_name}  #{@user.last_name}" %>
</h3>

<div class="container">
  <div class="row">
    <h3>Time Entries</h3>
    <div class="column">
      <table class="table">
        <tr class="header">
          <th>Name</th>
          <th>Total Time</th>
          <th>Created At</th>
        </tr>
        <tbody>
          <% @time_entries.each do |time_entry| %>
          <tr>
            <td><%= time_entry.name %></td>
            <td><%= time_entry.total_time %></td>
            <td><%= time_entry.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
            <td><%= link_to "Show", time_entry %></td>
            <td><%= link_to "Edit", edit_time_entry_path(time_entry) %> </td>
            <td><%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Add New Time Entry", new_time_entry_path %>
    </div>
  </div>
</div>
