<div class="container">
  <% if @projects.empty? %>
    <h4> You have no projects </h4>
  <% else %>
    <h2>My Projects</h2>
    <table summary="Project list" class="table">
      <tr class="header">
        <th>Project Name</th>
        <th>Number of Tasks</th>
        <th>Total Duration</th>
        <th>Created At</th>
        <th>Access level</th>
      </tr>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to "#{project.name}", project %></td>
            <td><%= project.time_entries.count %></td>
            <td><%= time_ago_in_words(project.total_duration.seconds.ago, include_seconds: true) unless project.total_duration.blank? %></td>
            <td><%= project.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
            <td><%= project.memberships.find_by(user_id: current_user.id).access_level %></td>
            <% if owner? project %>
              <td><%= link_to "Edit", edit_project_path(project) %></td>
              <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= button_to "Invite Members", invite_project_path(project), method: :get %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to "Add New Project", new_project_path %>
</div>
