<h2>Invite Members to Project</h2>
<div class="authform">

  <%= form_tag email_invitation_project_path do %>
    <div class="form-group">
      <%= label_tag(:email, "Email:") %><br>
      <%= email_field_tag(:email, nil, class: 'form-control') %><br>
    </div>
    <div class="form-group">
      <%= label_tag(:access_level, "Access Level:") %><br>
      <%= text_field_tag(:access_level, nil, class: 'form-control')%><br>
    </div>
    <div class="actions">
      <%= link_to "Cancel", projects_path, class: 'button left' %>
      <%= submit_tag "Confirm", class: 'button right' %> 
   </div>
  <% end %>
</div>