
<div>
  <h2>Project Details</h2>

  <table summary="fields">
    <tr>
      <th>Name: </th>
      <td><%= @project.name %></td>
    </tr>
    <tr>
      <th>Total Duration: </th>
      <td><%= formatted_time(@project.total_duration) if @project.total_duration %></td>
    </tr>
    <tr>
      <th>Created at: </th>
      <td><%= @project.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
    </tr>
    <tr>
      <th>Updated at: </th>
      <td><%= @project.updated_at.strftime("%H:%M:%S %d/%m/%y") %></td>
    </tr>
  </table>

    <%unless @time_entries.empty? %>
      <h3> Time Entries </h3>
      <table summary="TimeEntry list" class="table">
        <tr class="header">
          <th>Time Entry Name</th>
          <th>User</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Total Time</th>
          <th>Created At</th>
        </tr>
        <tbody>
          <% @time_entries.each do |time_entry| %>
            <tr>
              <td><%= time_entry.name %></td>
              <td><%= "#{time_entry.user.first_name} #{time_entry.user.last_name}" %></td>
              <td><%= time_entry.start_time.strftime("%H:%M:%S %d/%m/%y") %></td>
              <td><%= time_entry.end_time.strftime("%H:%M:%S %d/%m/%y") %></td>
              <td><%= formatted_time(time_entry.total_time) %></td>
              <td><%= time_entry.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
            </tr>
          <% end %>
        <tbody>
      </table>
    <% end %>
    </br>
  <%= link_to "<< Back to List", projects_path  %>
</div>
