<%= form_for(@time_entry) do |t| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@time_entry.errors.count, "error") %> prohibited this entry from being saved:</h3>
      <ul>
        <% @time_entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t.label :name %><br>
    <%= t.text_field :name %>
  </div>
  <div class="field">
    <%= t.label :start_time %><br>
    <%= t.datetime_select :start_time, include_seconds: true %>
  </div>
  <div class="field">
    <%= t.label :end_time %><br>
    <%= t.datetime_select :end_time, include_seconds: true %>
  </div>
  <br>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>

