<div class="container">
  <%if @time_entries.empty? %>
    <h4> You have no Time Entries</h4>
  <% else %>
    <h2>Time Entries</h2>
    <table summary="TimeEntry list" class="table table-hover">
      <tr class="header">
        <th>Time Entry Name</th>
        <th>Project</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Total Time</th>
        <th>Actions</th>
      </tr>
      <tbody>
        <% @time_entries.each do |time_entry| %>
          <tr>
            <td><%= link_to "#{time_entry.name}", time_entry %></td>
            <td><%= time_entry.project.try(:name) %></td>
            <td><%= time_entry.start_time.strftime("%H:%M:%S %d/%m/%y") %></td>
            <td><%= time_entry.end_time.try(:strftime, "%H:%M:%S %d/%m/%y") %></td>
            <td><%= time_ago_in_words(time_entry.total_time.seconds.ago, include_seconds: true) unless time_entry.total_time.blank? %></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Add to Project", append_time_entry_path(time_entry), method: :get %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Edit", edit_time_entry_path(time_entry) %></li>
                  <li><%= link_to 'Delete', time_entry, method: :delete, 
                    data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      <tbody>
    </table>
    <div class="row">
      <div class="col-lg-7">
        <%= page_entries_info @time_entries, entry_name: 'Time Entries' %>
      </div>
      <div class="col-lg-5">
        <%= paginate @time_entries %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <br>
    <%= link_to "Add New Time Entry", new_time_entry_path, class: "btn btn-success" %>
  </div>
</div>
