<% @page_title = "Time Entries" %>

<div class="time_entries index">
  <h2>Time Entries</h2>

  <%= link_to "Add New Time Entry", new_time_entry_path %>

  <table summary="TimeEntry list" border=1>
    <tr class="header">
      <th>ID</th>
      <th>User</th>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Total Time</th>
      <th>Created At</th>
    </tr>
    <% @time_entries.each do |time_entry| %>
    <tr>
      <td><%= time_entry.id %></td>
      <td><%= time_entry.user.try(:first_name)%></td>
      <td><%= time_entry.name %></td>
      <td><%= time_entry.start_time.try(:strftime, "%H:%M:%S %d/%m/%y")  %></td>
      <td><%= time_entry.end_time.try(:strftime, "%H:%M:%S %d/%m/%y") %></td>
      <td><%= time_entry.total_time %></td>
      <td><%= time_entry.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
      <td>
        <%= link_to "Show", time_entry %> 
        <%= link_to "Edit", edit_time_entry_path(time_entry) %> 
        <%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </td>
    </tr>
    <% end %>
  </table>
</div>
