
<div class="container">
  <h2>Time Entry Details</h2>
  <br>
  <table summary="fields">
    <tr>
      <th>Name: </th>
      <td><%= @time_entry.name %></td>
    </tr>
    <tr>
      <th>Start Time: </th>
      <td><%= @time_entry.start_time.strftime("%H:%M:%S %d/%m/%y") %></td>
    </tr>
    <tr>
      <th>End Time: </th>
      <td><%= @time_entry.end_time.try(:strftime, "%H:%M:%S %d/%m/%y") %></td>
    </tr>
    <tr>
      <th>Total Time: </th>
      <td><%= time_ago_in_words(@time_entry.total_time.seconds.ago, include_seconds: true) unless @time_entry.total_time.blank? %></td>
    </tr>
    <tr>
      <th>Created at: </th>
      <td><%= @time_entry.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
    </tr>
    <tr>
      <th>Updated at: </th>
      <td><%= @time_entry.updated_at.strftime("%H:%M:%S %d/%m/%y") %></td>
    </tr>
  </table>
  <br>
  <% unless request.format.to_sym == :pdf %>
    <div class="pull-right">
      <%= link_to '.PDF', { format: :pdf },  class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
