<div class="container">
  <% if @organizations.empty? %>
    <h4> You have no Organizations </h4>
  <% else %>
    <h2>My Organizations</h2>
    <br>
    <table summary="Organization list" class="table table-hover">
      <tr class="header">
        <th>Name</th>
        <th>Description</th>
        <th>Website</th>
        <th>Role</th>
        <th>Projects</th>
        <th>Actions</th>
      </tr>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= link_to "#{organization.name}", organization %></td>
            <td><%= organization.description %></td>
            <td><%= organization.website %></td>
            <td><%= organization.organization_memberships.find_by(user_id: current_user.id).role %></td>
            <td><%= organization.projects.count %></td>
            <% if current_user.can_delete? organization %>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "Edit", edit_organization_path(organization) %></li>
                    <li><%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-7">
      <%= page_entries_info @organizations, entry_name: 'Organization' %>
      </div>
      <div class="col-lg-5">
      <%= paginate @organizations %>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to "Create Organization", new_organization_path, class: "btn btn-success" %>
</div>