<div class="container">
  <% if @organizations.empty? %>
    <h4> You have no Organizations </h4>
  <% else %>
    <h2>Organizations</h2>
    <table summary="Organization list" class="table">
      <tr class="header">
        <th>Name</th>
        <th>Description</th>
        <th>Website</th>
        <th>Role</th>
        <th>Projects</th>
      </tr>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= link_to "#{organization.name}", organization %></td>
            <td><%= organization.description %></td>
            <td><%= organization.website %></td>
            <td><%= organization.teams.find_by(user_id: current_user.id).role %></td>
            <td><%= organization.projects.count %></td>
            <% if admin? organization %>
              <td><%= link_to "Edit", edit_organization_path(organization) %></td>
              <td><%= link_to 'Delete', organization, method: :delete, 
                data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<%= link_to "Add New Organization", new_organization_path %>
</div>