<div>
  <h2>Organization Details</h2>
  <div class="row">
    <div class="col-lg-8">
      <table summary="fields">
        <tr>
          <th>Name: </th>
          <td><%= @organization.name %></td>
        </tr>
        <tr>
          <th>Description: </th>
          <td><%= @organization.description %></td>
        </tr>
        <tr>
          <th>Website: </th>
          <td><%= @organization.website %></td>
        </tr>
        <tr>
          <th>Created at: </th>
          <td><%= @organization.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
        </tr>
      </table>
    </div>
    <% unless request.format.to_sym == :pdf %>
      <div class="col-lg-4">
        <% if current_user.can_create? @organization.organization_memberships.build %>
          <%= link_to "Invite Members", new_organization_membership_path(organization_id: @organization) %> <br>
          <%= link_to "Manage Members", edit_organization_membership_path(organization_id: @organization), method: :get %>
        <% end %>
        <% if current_user.can_leave? @organization.organization_memberships.build %>
          <%= button_to "Leave organization", leave_organization_membership_path(organization_id: @organization), data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>
  <% unless request.format.to_sym == :pdf %>
    <h3> Users </h3>

    <table summary="User list" class="table">
      <tr class="header">
        <th>Name</th>
        <th>Role</th>
      </tr>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= "#{user.first_name} #{user.last_name}" %></td>
            <td><%= user.organization_memberships.find_by(organization_id: @organization).role %></td>
            <% if current_user.can_delete? @organization.organization_memberships.build  %>
              <% unless user.can_delete?(@organization) || current_user.id == user.id %>
                <td><%= link_to "Remove", organization_membership_path(user_id: user.id, organization_id: @organization), 
                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%unless @projects.empty? %>
    <h3> Projects </h3>
    <table summary="Project list" class="table">
      <tr class="header">
        <th>Project Name</th>
        <th>Total Duration</th>
      </tr>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to "#{project.name}", project_path(project.id) %></td>
            <td><%= time_ago_in_words(project.total_duration.seconds.ago, include_seconds: true) if project.total_duration %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  <% end %>
  <% unless request.format.to_sym == :pdf %>
    <%= link_to "<< Back to List", organizations_path  %> <br>
    <%= link_to 'Download PDF', { format: :pdf } %>
  <% end %>
</div>
