<div>
  <h2>Organization Details</h2>

  <table summary="fields">
    <tr>
      <th>Name: </th>
      <td><%= @organization.name %></td>
    </tr>
    <tr>
      <th>Description: </th>
      <td><%= @organization.description %></td>
    </tr>
    <tr>
      <th>Website: </th>
      <td><%= @organization.website %></td>
    </tr>
    <tr>
      <th>Created at: </th>
      <td><%= @organization.created_at.strftime("%H:%M:%S %d/%m/%y") %></td>
    </tr>
  </table>
  <br>

   <h3> Users </h3>

  <table summary="User list" class="table">
    <tr class="header">
      <th>Name</th>
      <th>Role</th>
    </tr>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= "#{user.first_name} #{user.last_name}" %></td>
          <td><%= user.teams.find_by(organization_id: @organization.id).role %></td>
          <% if admin? @organization %>
            <% unless user.teams.find_by(organization_id: @organization.id).role == "Admin" %>
              <td> <%= link_to "Remove", remove_members_project_path(user_id: user.id), 
                data: { confirm: 'Are you sure?' }  %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "<< Back to List", organizations_path  %>
</div>
