<!-- Initialize the plugin: -->
<script type="text/javascript">
      $(document).ready(function() {
        $('.multiselect').multiselect({
          includeSelectAllOption: true
        });
      });
</script>
<div>
  <div class = "container">
   <div class = "jumbotron clearfix">
      <%= form_tag reports_path, method: :get do %>
        <div class="row">
          <div class="col-lg-6">
            <%= label_tag :start_time, 'Start Date'%> 
            <%= datetime_select("start_date", "", default: @start_time, include_seconds: true) %>
          </div>
          <div class="col-lg-6">
            <%= label_tag :end_time, 'End Date' %>
            <%= datetime_select("end_date", "", default: @end_time, include_seconds: true) %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-2">
            <%= label_tag :projects %> <br>
            <%= select_tag 'projects', content_tag(:option, 'Without Project', :value=>"Without Project") + options_from_collection_for_select(current_user.projects, 'id', 'name'), {class: 'multiselect', multiple: true} %>
            <br>
          </div>
          <% unless current_user.organizations.empty? %>
            <div class="col-lg-2">
                <%= label_tag :organizations %> <br>
                <%= select_tag 'organizations', options_from_collection_for_select(current_user.organizations, 'id', 'name'), {class: 'multiselect', multiple: true} %>
            </div>
            <div class="col-lg-2">
              <%= label_tag :users %> <br>
              <%= select_tag 'users', options_from_collection_for_select(current_user.organizations, 'id', 'name'), {class: 'multiselect', multiple: true} %>
            </div>
          <% end %>
          <div class="col-lg-2">
            <%= label_tag :Description %>
            <%= text_field_tag :name, "", class: 'form-control' %>
          </div>
        </div>
        <%= submit_tag 'Apply', class: 'btn btn-primary pull-right' %>
      <% end %>
    </div>
  </div>
</div>