<% unless request.format.to_sym == :pdf %>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <%= render 'form' %>
      </div>
    </div>
<% end %>
    <div class = "container">
      <div class="row">
        <%if @time_entries.empty? %>
          <div class="col-lg-12 col-md-offset-5">
            <br>
            <h4> No results </h4>
          </div>
        <% else %>
          <div class="col-lg-9">
            <h3> Time Entries </h3>
            <br>
            <h5><%= "from: #{@start_time.strftime '%d-%m-%Y %H:%M:%S'}" %> </h5>
            <h5><%= "to: #{@end_time.strftime '%d-%m-%Y %H:%M:%S'}" %></h5>
            <br>
            <div class="container">
            <% unless request.format.to_sym == :pdf %>
                <div id="chartdiv" style="width: 50%; height: 400px; float:left;"></div>
                <div id="piechartdiv" style="width: 50%; height: 400px;"></div>
            <% end %>
            <br>
              <table summary="TimeEntry list" class="table table-hover">
                <tr class="header">
                  <th>Time Entry Name</th>
                  <th>User</th>
                  <th>Project</th>
                  <th>Duration</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                </tr>
                <tbody>
                  <% @time_entries.order('updated_at desc').each do |time_entry| %>
                    <tr>
                      <td><%= time_entry.name %></td>
                      <td><%= "#{time_entry.user.first_name} #{time_entry.user.last_name}" %></td>
                      <td><%= time_entry.project.try(:name) %></td>
                      <td><%= formatted_duration(time_entry.total_time) %></td>
                      <td><%= time_entry.start_time.strftime("%H:%M:%S %d/%m/%y") %></td>
                      <td><%= time_entry.end_time.strftime("%H:%M:%S %d/%m/%y") %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-lg-3">
          <h4><%= "Total Hours: #{formatted_duration(@time_entries.sum(:total_time).to_i)}" %> </h4>
        </div>
      <% end %>
    </div>
    <%if @time_entries.present? %>
    <% unless request.format.to_sym == :pdf %>
        <br><br>
        <div class="pull-right">
          <%= link_to '.CSV', reports_path(format: :csv),id: "csv_export", class: "btn btn-danger" %>
          <%= link_to '.PDF', { format: :pdf }, id: "pdf_export", class: "btn btn-danger" %>
        </div>
      <% end %>
    <% end %>
  </div>
<script type="text/javascript">
  var chart = new AmCharts.AmSerialChart();
  var chartData = <%= convert_to_amcharts_json(@time_entries) %>;
  // SERIAL CHART
    chart.dataProvider = chartData;
    chart.categoryField = "name";
    chart.startDuration = 1;
  // AXES
  // category
  var categoryAxis = chart.categoryAxis;
  categoryAxis.labelRotation = 90;
  categoryAxis.gridPosition = "start";
  // GRAPH
  var graph = new AmCharts.AmGraph();
  graph.valueField = "total_time";
  graph.balloonText = "[[category]]: [[value]]";
  graph.type = "column";
  graph.lineAlpha = 0;
  graph.fillAlphas = 0.7;
  chart.addGraph(graph);
  chart.write("chartdiv");
</script>
<script type="text/javascript">
  var chartData = <%= convert_to_amcharts_json(@time_entries) %>;
  var chart = new AmCharts.AmPieChart();
  chart.valueField = "total_time";
  chart.titleField = "name";
  chart.dataProvider = chartData;
  chart.write("piechartdiv");
</script>
