<div>
  <h2>Weekly Report</h2><br>
  <div class="row">
    <div class="col-lg-4">
      <%= link_to "New Report", new_report_path %>
    </div>
  </div>
  <div class="row">
    <%if @time_entries.empty? %>
      <div class="col-lg-12 col-md-offset-5">
        <h4> No results </h4>
      </div>
    <% else %>
      <div class="col-lg-8">
        <h3> Time Entries </h3>
        <table summary="TimeEntry list" class="table">
          <tbody>
            <% @time_entries.each do |time_entry| %>
              <tr>
                <td><%= time_entry.name %></td>
                <td><%= "#{time_entry.user.first_name} #{time_entry.user.last_name}" %></td>
                <td><%= time_entry.project.try(:name) %></td>
                <td><%= time_ago_in_words(time_entry.total_time.seconds.ago, include_seconds: true) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4">
        <h4><%= "Total Hours: #{@total_hours}" %> </h4>
      </div>
    <% end %>
  </div>
</div>