<div>
  <div class="authform">
    <h2>New Report</h2>
    <%= form_tag reports_path do %>

      <%= label_tag :start_time %> <br>
      <%= datetime_select :start_time, include_seconds: true %> <br>
      <br>
      <%= label_tag :end_time %> <br>
      <%= datetime_select :end_time, include_seconds: true %> <br>
      <br>
      <%= label_tag :projects %> <br>
      <% current_user.projects.each do |project| %>
        <li>
        <%= check_box_tag "projects[]", project.id %> <%= project.name %> <br>
        </li>
      <% end %>
      <br>
      <div class="actions">
        <%= link_to "Back", reports_path, class: 'button left' %>
        <%= submit_tag "Confirm", class: 'button right' %>
      </div>
    <% end %>
  </div>
</div>

